@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --animate-delay: 0.1s;
}

@font-face {
  font-family: "Varela";
  src: url("/VarelaFont/VarelaRound-Regular.ttf");
}

@font-face {
  font-family: "IranSans";
  src: url("/IranSansFont/IRANSansXMedium.ttf");
}
